<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lrdzero.practica4dss" >
    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
    </compatible-screens>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk
        android:minSdkVersion="9"
        android:maxSdkVersion="23">

    </uses-sdk>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Utilidad">
        <activity
            android:name=".ActividadPrincipal"
            android:label="@string/title_activity_actividad_principal"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MenuActividad"
            android:label="@string/title_activity_menu_actividad"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Presentacion"
            android:label="@string/title_activity_presentacion"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Resultados"
            android:label="@string/title_activity_resultados"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Despedida"
            android:label="@string/title_activity_despedida"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
